body{
	margin: auto;
	max-width:1000px;
	padding:1em;
	font: family Exo 2px;
    background-color:#DB6F57 ;
}
header{
	text-align: center;
	border:1px solid #F5DFBB;
    background-color: #3C787E;
    font-family: Inconsolata;
}
nav{
	background-color:#654F6F;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
div,main{
	border:1px solid #F5DFBB;
	padding:.5em;margin-bottom:1em;
    background-color: #3C787E;
    font-family: Inconsolata;
}
.section{
	border:1px solid #F5DFBB;
	padding:.5em;margin-bottom:1em;
    background-color: #3C787E;
    font-family: Inconsolata;
	word-wrap: break-word;
	float: right;
	width: 30%;
	padding: 5px;
	font-size: 150%;
}
.section2{
	border:1px solid #F5DFBB;
	padding:.5em;margin-bottom:1em;
    background-color: #3C787E;
    font-family: Inconsolata;
	word-wrap: break-word;
	float: right;
	width: 30%;
	padding: 5px;
	font-size: 150%;
}
.section4{
	border:1px solid #F5DFBB;
	padding:.5em;margin-bottom:1em;
    background-color: #3C787E;
    font-family: Inconsolata;
	word-wrap: break-word;
	float: left;
	width: 30%;
	padding: 5px;
	font-size: 150%;
}

.shows2{
	border:1px solid #F5DFBB;
	padding:.5em;margin-bottom:1em;
    background-color: #3C787E;
    font-family: Inconsolata;
	float: left;
	width: 70%;
	padding: 30px;
	font-size: 150%;
	word-spacing: 50px;
}

.img3{
	border:1px solid #F5DFBB;
	width: 60%;
	height: auto;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	
}
.img1{
	border:1px solid #F5DFBB;
	width: 60%;
	height: auto;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}
.column{
	float: left;
	width: 33.33%;
	padding: 5px;
}

.section3{
	border:1px solid #F5DFBB;
	padding:.5em;margin-bottom:1em;
    background-color: #3C787E;
    font-family: Inconsolata;
	word-wrap: break-word;
	float: left;
	width: 30%;
	padding: 10px;
	font-size: 150%;
	
}

.img2{
	border:1px solid #F5DFBB;
	width: 50%;
	height: auto;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}
.img4{
	border:1px solid #F5DFBB;
	width: 40%;
	height: auto;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}
.img5{
	border:1px solid #F5DFBB;
	width: 50%;
	height: auto;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}
.img6{
	border:1px solid #F5DFBB;
	width: 40%;
	height: auto;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}
footer{
	border:1px solid #F5DFBB;
	padding:.5em;margin-bottom:1em;
    background-color: #3C787E;
    font-family: Exo2;
}
.imginsta{
	width: 50px;
	height: 50px;
}